@use "./base.scss";

// put your custom CSS here!

/* 全局字体放大：基础字号从 16px 提升到 18px */
html {
  font-size: 112.5%;
}

p, li {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all; /* 强制允许在任何地方换行 */
}

/* 修复行内公式 $...$ 造成的拥挤 */
mjx-container:not([display="true"]) {
  white-space: normal !important;
}

/* 针对长串的独立块级公式 $$...$$，如果屏幕放不下允许横向滑动 */
mjx-container[display="true"] {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}